.about-page {
  margin-top: 100px;
  margin-bottom: -100px;
  max-height: 842px;
  p,
  strong {
    letter-spacing: normal;
  }
  strong:hover {
    display: flex;
    transform: translateY(3px);
  }
}
