.project-window {
  opacity: 0;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

.app {
  position: relative;
}

.tile {
  @media (max-width: 1300px) {
    width: 33vw;
    height: 19vw;
  }
  z-index: 400;
  margin: 10px;
  background-color: #fff;
  display: inline-block;
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
  overflow: hidden;
  font-weight: 100;
  border-radius: 4.94px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  z-index: 31;
  color: black;
  width: 430px;
  height: 248px;
}

.tile img {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 0.4s ease-out;
  object-fit: contain;
}

.tile .text {
  /*   z-index:99; */
  position: absolute;
  /* padding: 20px 0 20px 0; */
  height: calc(100% - 60px);
}
.row {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  align-content: center;
}
.popup-window a {
  text-decoration: none;
}
.popup-window img {
  object-fit: contain;
  margin: 0 auto;
}
.popup-window h3 {
  margin: 3px auto;
  color: indigo;
}
.popup-window {
  @media (max-width: 1300px) {
    margin: 30px 0;
    width: 60.46%;
    height: 74%;
    font-size: 3vw;
  }
  margin: -70px 0 0;
  top: 8vw;
  position: absolute;
  left: auto;
  right: auto;
  background-color: rgba(780.2, 893, 900, 0.4);
  font-weight: 500;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
  justify-content: center;
  z-index: 400;
  overflow: hidden;
  -webkit-text-fill-color: white;
  width: 38vw;
  height: 26vw;
  @media (max-width: 1300px) {
    font-size: 3vw;
  }
  @media (min-width: 2200px) {
    width: 38rem;
    height: 26rem;
  }
}
.popup-window.show {
  display: block;
}
.popup-window.hide {
  display: none;
}
.projects-row {
  display: flexbox;
  max-width: 900px;
}
.tile h1 {
  @media (max-width: 1300px) {
    min-width: 23vw;
    font-weight: 200;
  }
  background-color: #fff;
  margin: 0;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}
/* @media (max-width: 1300px) { */
.tile h1 {
  font-size: 2vw;
  @media (min-width: 2140px) {
    font-size: xx-large;
  }
}
/* } */

.tile h2 {
  font-weight: 100;
  margin: 2vw 0 0 0;
  font-style: italic;
  transform: translateX(200px);
}

.tile p {
  font-weight: 300;
  // margin: 3vw 0 0 0;
  line-height: 25px;
  /*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
/* @media (min-width: 1300px) { */
.tile p {
  font-size: 1.9vw;
  line-height: 2.09vw;
}
/* } */

.animate-text {
  opacity: 0;
  transition: all 0.6s ease-in-out;
}

.tile:hover {
  /*   background-color:#99aeff; */
  box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
  transform: scale(1.05);
}

.tile:hover img {
  opacity: 0.2;
}

.tile:hover .animate-text {
  transform: translateX(0);
  opacity: 1;
}

.dots {
  position: absolute;
  bottom: 14vw;
  right: 1vw;
  top: 1vw;
  width: 3vw;
  height: 2vw;
  color: currentColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.dots span {
  width: 0.46vw;
  height: 0.45vw;
  background-color: currentColor;
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
}

.tile:hover span {
  opacity: 1;
  transform: translateY(0px);
}

.dots span:nth-child(1) {
  transition-delay: 0.05s;
}

.dots span:nth-child(2) {
  transition-delay: 0.1s;
}

.dots span:nth-child(3) {
  transition-delay: 0.15s;
}
