.menu {
  width: 9rem;
  background-color: #181818;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  &__title {
    background: #000000;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 2rem 0;
    .menu-name{
      font-size: 2.3rem;
    }
    &-logo {
      display: block;
      width: 39px;
      height: 36px;
      object-fit: cover;
      -moz-transform: scale(1.5);
      transform: scale(1.6);
      zoom: 300%;
      overflow: hidden;
    }
    .name-sub {
      color: #A5A5A5;
      font-size: 1.2rem;
      margin-top: 1rem;
    }
  }
  &__navigation {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #282828;
    a {
      text-align: center;
      text-decoration: none;
      width: 100%;
      display: block;
      font-size: 1.6rem;
      color: #909096;
      line-height: 5rem;
      border-bottom: 1px solid #282828;
      -webkit-transition: color 0.3s, background-color 0.3s;
      -o-transition: color 0.3s, background-color 0.3s;
      transition: color 0.3s, background-color 0.3s;
    }
  }
  .svgshka3{
    zoom: 1.4;
    max-width: min-content;
    transform: translateY(-0.9px);
  }
  .social{
    color: #909096;
    margin: 0;
    padding: 13px 0 0 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 20rem;
    li{
        text-align: center;
        a{
            padding: 2rem 7px;
            svg{
                width: 1.5rem;
            }
        }
    }
  }
  @media (max-width: 1300px) {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: -5;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0s 0.4s, z-index 0s 0.7s;
    -o-transition: opacity 0s 0.4s, z-index 0s 0.7s;
    transition: opacity 0.4s, z-index 0.7s;
    &.open{
      z-index: 491;
      opacity: 1;
    }
  }
}